{% extends 'home/base.html' %}

{% block content %}
<div class="card mt-4 mx-4 p-4">
<h1 class="display-6">About Us</h1>
<p>Welcome to the JunkHub!<br>
<br>
    Everything started by a group of 5 friends who based on the idea of a Garage Sale wanting to get rid of stuffs they 
    did not need anymore.
    Our mission is to help people wanting to get rid things they do not use and that have been piling up in the garage,
    to connect with bargain hunters that are looking to upcycle or simply restore items!
    <br>
    <br>
    The impact of our problem is that junk piles up and items that some people may use, or need can get thrown out causing extra waste like electronics and appliance waste.
    So we thought a successful solution could be a web application where people may list their junk items for others to be able to search through and buy. These way we will be
    also adding motivation for both parties to create an environmental awareness. 
 </p>
</div>

{% endblock content %}